* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: rgb(32, 32, 32);
  z-index: 1;
}

#navbar ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%;
}

#navbar li {
  list-style: none;
  margin-left: 5px;
  margin-right: 5px;
}

#navbar a {
  font-family: monospace;
  text-decoration: none;
  color: white;
  font-size: larger;
  font-weight: bold;
  transition: 500ms;
}

#navbar a:hover {
  color: green;
}


#welcome-section {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(62, 155, 158), rgb(154, 80, 168));
  overflow: clip;
}

#monitor {
  min-width: 480px;
  min-height: 340px;
  background: linear-gradient(45deg,rgb(224, 171, 56) ,rgb(248, 192, 89));
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgb(49, 49, 49);
  transition: 500ms;
}

#monitor:hover {
  transform: scaleX(1.05) scaleY(1.05);
}

#screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  height: 270px;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(0, 0, 0);

}

#keyboard {
  min-width: 300px;
  min-height: 100px;
  margin-top: 50px;
  background: linear-gradient(45deg, rgb(126, 126, 126),rgb(206, 206, 206));
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgb(49, 49, 49);
  transition: 500ms;
}

#keyboard:hover {
  transform: scaleX(1.05) scaleY(1.05);
}

#mug {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: white;
  box-shadow: 2px 2px 8px rgb(49, 49, 49);
  position: relative;
  left: 300px;
  bottom: 20px;
  transition: 500ms;
}

#coffee {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgb(61, 32, 18);
  transform: scale(1);
  transition: 500ms;
}

#mug:hover {
  transform: scaleX(1.08) scaleY(1.1);
}

#welcome-section h1, p {
  text-align: center;
  font-family: monospace;
}

#coffee-emoji {
  font-family: sans-serif;
}


@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(10);
    opacity: 0;
  }
}


#projects {
  padding-top: 50px;
  min-height: 100vh;
}

#projects h1 {
  text-align: center;
  font-family: monospace;
}

.project-container {
  width: 80%;
  border: 3px solid rgb(201, 201, 201);
  border-radius: 10px;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 25px;
}

.project-tile {
  width: 25%;
  height: 100px;
  border: 1px solid white;
  margin: 20px;
  border-radius: 5px;
}


