* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: rgb(24, 24, 24);
}

#navbar ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%;
}

#navbar li {
  list-style: none;
  margin-left: 5px;
  margin-right: 5px;
}

#navbar a {
  font-family: monospace;
  text-decoration: none;
  color: white;
  font-size: larger;
  font-weight: bold;
}

#navbar a:hover {
  color: green;
}


#welcome-section {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(62, 155, 158), rgb(154, 80, 168));
}

#monitor {
  width: 480px;
  height: 340px;
  background: linear-gradient(45deg,rgb(228, 171, 49) ,rgb(255, 229, 181));
  border-radius: 5px;
}

#screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  height: 270px;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(0, 0, 0);
}

#keyboard {
  width: 300px;
  height: 100px;
  margin-top: 50px;
  background: linear-gradient(45deg, rgb(126, 126, 126),rgb(206, 206, 206));
  border-radius: 5px;
}

#mug {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: white;
}

#coffee {

  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgb(61, 32, 18);
}

#welcome-section h1, p {
  text-align: center;
  font-family: monospace;
}

#welcome-section h1 {
  animation: hi 1.5s;
}

@keyframes hi {
  50% {
    transform: scaleX(1.5) scaleY(1.5);
  }
}

#projects {
  padding-top: 50px;
  min-height: 100vh;
}

#projects h1 {
  text-align: center;
  font-family: monospace;
}

.project-container {
  width: 80%;
  border: 3px solid rgb(201, 201, 201);
  border-radius: 10px;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 25px;
}

.project-tile {
  width: 25%;
  height: 100px;
  border: 1px solid white;
  margin: 20px;
  border-radius: 5px;
}


